.home__container { 
  gap: 1.6rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 5.6rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1.6rem;
}

.home__social-icon {
  font-size: 2rem;
  color: $first-color
}

.home__social-icon:hover {
  color: $first-color-alt;
}

.home__img{
  width: 170px;
  border-radius: 50%;
}