@import "config";
@import "home";
@import "buttons";
@import "about";
@import "skills";

// Nav

.nav {
  max-width: 968px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: $title-color;
  font-weight: $font-medium;
}

.nav__logo:hover {
  color: $first-color;
}

.nav__toggle {
  color: $first-color;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: $body-color;
    padding: 3.2rem 2.4rem 6.4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2.4rem 2.4rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  grid: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $small-font-size;
  color: $title-color;
  font-weight: $font-medium;
}

.nav__link:hover {
  color: $first-color;
}

.nav__icon {
  font-size: 1.9rem;
}

.nav__close {
  position: absolute;
  right: 2rem;
  bottom: 0.8rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: $first-color-alt;
}

.nav__close:hover {
  color: $first-color-alt;
}

.show-menu {
  bottom: 0;
}
